* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Bitter', serif;
}

h3, h4, p, ul {
    font-family: 'Noto Sans', sans-serif;
}

html {
padding: 2.5rem;
}

body {
    width: 100%;
}

.content {
    display: flex;
    gap: 2rem;
}

.left-column {
    width: 100%;
    max-width: 50vw;
    text-align: left;
    margin: 0 auto;
}

.right-column {
    width: 100%;
    max-width: 50vw;
    text-align: left;
}

.contact-info {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    font-size: 1rem;
    gap: 1rem;
}

.contact-info li {
    flex: 0 1 auto;
}

.contact-info a {
    text-decoration: none;
    color: black;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    border-bottom: 5px solid black;
    margin-bottom: 0.5rem;
}

h2.blue, h3.blue, h4.blue {
    color: #1e90ff;
    text-transform: none;
    border: none;
}

h3 {
    margin-top: 1rem;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    width: 100%;
    max-width: 600px;
    justify-content: left;
    font-weight: 600;
    margin-bottom: 2rem;
}

.skills-list li { 
    border-bottom: 2px solid #ccc2c2;
}

.experience ul li:last-child {
    margin-bottom: 1rem;
}

.google {
    padding-bottom: 1rem;
}

.mackin, .mme, .graduate-cert, .google {
    border-bottom: 2px dashed #ccc2c2;
}

.summary {
    margin-bottom: 1rem;
}

.where-when {
    display: flex;
    gap: 1rem;
}

.where-when p {
    flex: 0 0 auto;
    font-size: 0.9rem;
}

.interests-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
}

.interests-list li {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: 'Bitter', serif;
}

.interests-list i {
    width: 35px;
    margin-right: 4px
}

.certifications {
    margin: 2rem 0;
}

@media (max-width: 767px) {

    .content {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .left-column, .right-column {
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact-info {
        flex-direction: column;
        gap: 0.5rem;
        margin: 2rem 0;
    }

    .skills-list {
        max-width: 100%;
        width: 100vw;
        flex-direction: column;
    }

    .experience ul, .education ul {
        padding: 0 1rem;
    }

    .experience ul li {
        margin: 0.5rem;
        line-height: 1.5;
    }

    h4, .where-when {
        padding-bottom: 0.5rem;
    }

    .summary p {
        padding-top: 0.5rem;
    }

    .summary, .certifications {
        margin: 1rem 0;
    }
}
    @media (min-width: 600px){
        .skills-list {
            flex-direction: row;
        }
}